#content {
  padding-left: 300px;
  margin-bottom: 0;
}

#sidebar,
nav {
  background: #303e4d;
}

#sidebar .material-icons,
#sidebar a {
  color: #f0f0f0;
}

#sidebar a:hover,
#sidebar li.active {
  background: #6698c8;
}

#sidebar .userView a:hover {
  background: inherit !important;
}

#qa .col.s4 {
  padding-left: 0px;
  padding-right: 0px;
  height: 100vh;
  border-right: 1px solid #e0e0e0;
}

#qa .collection {
  margin-top: 0px;
  border: none;
}

.right p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-image img {
  padding: 15px;
  height: 200px;
}

.divider {
  background: #f5f5f5;
}

@media only screen and (max-width: 992px) {
  #content {
    padding-left: 0;
  }
}
